#root {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
    display: flex;
    justify-content: center;
    min-height: 300px;
    align-items: center;
	background: #eee;
}