nav {
  background: #fff;
  margin: 5px;
  font-size: .75rem;
  line-height: 1rem;
  font-family: "proxima-nova-1", sans-serif; }
  nav li {
    text-decoration: none;
    text-align: center; }

header input.nav-toggle {
  display: none; }

.hamburger-btn {
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 15px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .hamburger-btn .btn-line {
    margin: 0 0 5px 0;
    background: #000;
    width: 28px;
    height: 3px;
    transition: all 0.5s ease-out; }

.largest-devices {
  display: none; }

.medium-devices {
  display: none; }

.green {
  color: #48b148; }

@media (min-width: 768px) {
  .active-link li {
    border-bottom: 4px solid #000; }
  header .mobile-header {
    display: none; }
  nav {
    display: flex;
    padding: 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    min-height: 37px; }
    nav .hamburger-btn {
      display: none; }
    nav ul.navbar-left {
      display: flex;
      justify-content: flex-start;
      flex-grow: 2; }
    nav ul.navbar-right {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1; }
    nav li {
      margin: 0 10px;
      padding: 10px 0 5px;
      color: #000; }
      nav li:hover a {
        cursor: pointer; }
    nav li.medium-devices {
      display: block; } }

@media (min-width: 1024px) {
  nav li.largest-devices {
    display: block; } }

@media (max-width: 767px) {
  header .nav-toggle:checked ~ nav {
    display: block; }
  header .mobile-header {
    min-height: 50px; }
  header li {
    line-height: 2rem; }
  nav {
    display: none; } }
